body {
    font-size: 16px;
    background-color: #F0F8FF;
    font-family: serif;
    margin: 0px;
    background-image: url(../images/bg111.jpg);
    background-size: cover;
}

h1 {
    font-size: 2em;
    /* shorthand for TOP RIGHT BOTTOM LEFT */
    margin: 1em 0 1em;
    text-align: left;
    font-family: Arial 'Blackadder ITC';
}

h2 {
    font-size: 1.6em;
    padding: 10% 20% 9% 20%;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    line-height: 1.2em;
    font-family: Franklin Gothic Medium;
    margin-bottom: 1em;
    margin-top: 1em;
}

p {
    font-size: 1.2em;
    line-height: 2em;
    margin-bottom: 1.5em;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}

header,
footer {
    background-color: #777999;
    padding: 2em 0;
}

.hero {
    text-align: center;
    background: #a5a5a5;
    min-height: 5em;
    padding: 2em;
    margin: 1em 0;
    /* vertically align */
    display: flex;
    align-items: center;
    justify-content: center;


}



main {
    margin-bottom: 2em;
}
